@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,700,800);
body {
    overflow-x: hidden;
}
.bold, h2, strong {
    font-weight: 700
}
@media screen and (min-width: 1024px) {
    .page-container {
        margin-top: 70px;
    }
    .container-fluid {
        padding: 0 !important;
    }
}
h2 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    color: #404042;
    margin-bottom: 30px;
    box-sizing: border-box;
}
h3 {
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    color: #6B973F;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.switch {
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #efefef;
    color: #404042;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    box-sizing: border-box;
    margin-top: 20px;
    width: 225px
}
.switch:before {
    content: '> ';
    color: transparent;
    font-weight: 800;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.switch:hover {
    color: #404042;
    text-decoration: none !important;

}
.switch:after {
    content: '';
    display: block;
    height: 0;
    width: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    background-color: #bce098;
    position: absolute;
    bottom: 0
}
.switch:hover:before {
    color: #404042
}
.switch:hover:after {
    height: 3px;
    background-color: #bce098
}
.project {
    text-align: center;
    padding: 0.5em;
    height: 350px;
    position: relative;
}
.project:hover {
    background-color: #f3f3f3;
    -webkit-transition: all .4s ease;
    transition: all .4s ease
}
.project a {
    color: #97c469;
}
.project-preview {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.project-cell {
    max-height: 420px;
    height: 420px;
    overflow: hidden;
}
.work-grid {
    max-height: 30em;
}
.member {
    text-align: center;
    padding: 0.5em;
    position: relative;
    font-family: Open Sans, sans-serif;
}
.member-firstname {
    font-size: 1.2em;
    color: #404042;
    text-transform: uppercase;
}
.member-surname {
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    color: #6b973f;
}
.pagination-link {
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    color: #6b973f !important;
}


.presentation-block {
    font-family: Open Sans,sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 1.8rem;
}

.error-container {
    margin: 4rem;
}

.pagination {
    margin-left: 4rem;
    margin-right: 4rem;
}

.customer-logo {

}

.tech-logo {
    max-width: 4rem;
    max-height: 4rem;
}

.tech-box {
    display: block;
    height: 6rem;
}

.domain-short {
    font-family: Open Sans, sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
    padding-top: 0;
    height: 8rem;
}

.jobs-table th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.jobs-table {
    margin-top: 5rem;
    margin-bottom: 10rem;
}

@media screen and (max-width: 1024px) {
    .domain-short {
        margin-bottom: 4rem;
    }
}
